button{
  outline: none;
  border:0;
  cursor:pointer;
}

.habit{
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  margin: 0 0.2em 0.5em;
  background-color: #FFAFAF;
  color: #FBFFE2;
  border-radius: 50%;
  
}

.navbar{
  text-align: center;
  background-color:#FFAFAF;
  color: #FBFFE2;
  margin-top: 0;
  padding: 0.5em 0;
  
}

.add-input{
  border : 2px solid #FFAFAF;
  border-radius : 5px;
  margin: 2rem 1rem 0 50%;
  background : #FFEBCC;
  height: 30px;

}

.input-btn, .reset-btn{
  background:#FFEBCC;
  color:black;
  border:none;
  border-radius: 10%;
  position:relative;
  height:30px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;


}

.reset-btn{
  margin: 2rem 1rem 0 50%;

}

.habit-button{
  font-size:2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover{
  opacity: 0.5;
}

.habit-increase,
.habit-decrease{
  color:#FF9999;
}

.habit-delete{
  color: #FFEBCC;
}


